back/package-lock.json
back/node_modules/
back/tsconfig.json
back/.env
back/prisma/migrations/
back/prisma/dev.db
back/prisma/migrations/20250211205427_init/migration.sql
back/prisma/migrations/migration_lock.toml
.env
back/promps.md
back/test.js
back/users.db