back/srcs/package-lock.json
back/srcs/node_modules/
back/srcs/tsconfig.json
back/.env
back/srcs/prisma/migrations/
back/srcs/prisma/dev.db
back/srcs/prisma/migrations/20250211205427_init/migration.sql
back/srcs/prisma/migrations/migration_lock.toml
.env
back/srcs/promps.md
back/srcs/test.js
back/srcs/users.db