#start
{
  padding: 10px 20px;
  background: rgba(88, 101, 242, 1);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
#start:hover {
  background: rgba(88, 101, 242, 1);
}
#ResetButton  
{
    padding: 10px 20px;
    background: #af4c4c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
#exit:hover {
  background: #a04545;
}

/* canvas
{
  background-color: #0b152b;  
  border: 5px solid white; 
  display: block;
  border-radius: 50px;
} */
