body
{
    background-color: rgba(20, 20, 41, 255);
}

.all
{
    width: 100%;
    display: flex;
    margin-top: -100%;
    /* min-width: 400px;
    min-height: 15%; */
    position: relative;
    /* background-color: red; */
    /* position: fixed; */
    position:sticky;
    z-index: 2;
}
.pt_1
{
    flex: 1;
    /* background-color: black; */
}
.pt_2
{
    flex: 1;
    height: 90%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin-top: 4%;
}
.pt_3
{
    flex: 1;
    /* background-color: lightblue; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.all_user_info
{
    width: 80%;
    /* background-color: red; */
    /* background-color: rgba(26, 26, 46, 0.8); */
    /* background-color: rgb(255, 255, 255, 0.2); */


    background-color: rgba(0,0,0,0.7);
    /* border: 2px black solid; */
    border-radius: 60px;
    min-width: 250px;
    min-height: 0px;
    position: relative;
    box-shadow: 15px 15px 20px rgba(255, 255, 255, 0.1);
    /* box-shadow: 10px 10px 10px rgba(223, 218, 218, 0.3); */

}

/* .all_user_info {
    width: 80%;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    min-width: 250px;
    position: relative;
    padding: 30px;
    box-sizing: border-box;
    

    box-shadow: 

        15px 15px 30px rgba(0, 0, 0, 0.6),

        -8px -8px 20px rgba(255, 255, 255, 0.1),

        inset 5px 5px 10px rgba(0, 0, 0, 0.2),
 
        inset -5px -5px 10px rgba(255, 255, 255, 0.1);
    
    border: none;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    

    transform: perspective(800px) rotateX(3deg) rotateY(2deg);
    transition: all 0.4s ease;
}

.all_user_info:hover {
    transform: perspective(800px) rotateX(1deg) rotateY(1deg);
    box-shadow: 
        20px 20px 35px rgba(0, 0, 0, 0.7),
        -10px -10px 25px rgba(255, 255, 255, 0.15),
        inset 5px 5px 10px rgba(0, 0, 0, 0.2),
        inset -5px -5px 10px rgba(255, 255, 255, 0.1);
} */




.loginUpForm
{
    padding-top: 6%;
}
.exitLoginTag
{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.319);
    top: 4%;
    left: 80%;
    border-radius: 50px;
    padding: 1%;
}
.exitLoginTag:hover
{
    background-color: rgba(255, 99, 71, 0.61);
}
.logo_holder
{
    width: 100%;
    height: 10%;
    /* background-color: red; */
    margin-top: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text_login
{
    color: white;
    margin-left: 2%;
    font-family: "ADLaM Display", serif;
    font-size: clamp(20px,2vw, 40px);
}
.logo_login
{
    width: 10%;
}
.bts_sing
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.SING_IN,
.SING_UP
{
    color: white;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(8px, 1vw, 25px);
    border: none;
    margin-top: 8%;
    font-weight: bolder;
}
.user_login_info
{
    width: 80%;
    /* background-color: red; */
    height: 70%;
    margin-top: 4%;
    margin-left: 10%;
}
.email_login_info
{
    width: 100%;
    height: 20%;
    position: relative;
}


.login_input_password,
.login_input_password1,
.login_input_password2
{
    width: 90%;
    text-indent: 5%;
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
    border-top: 1px solid rgba(207, 200, 200, 0.3);
    border-bottom: 1px solid rgba(207, 200, 200, 0.3);
    border-left: 1px solid rgba(207, 200, 200, 0.3);


    /* background-color: rgba(94, 94, 111, 255); */
    background-color: rgba(31, 31, 31, 0.9);
    

    color: white;
    font-size: clamp(10px, 1vw, 43px);
    outline: none;
    height: 3svw;
    width: 100%;
    font-weight: bold;
}
.show_bt,
.show_bt1,
.show_bt2
{
    /* background-color: rgba(94,94,111,255); */

    background-color: rgba(31, 31, 31, 0.9);
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
    height: 3svw;
    width: 15%;
    display: flex;
    justify-content: center;
    padding-left: 2%;
    padding-right: 3%;

    border-top: 1px solid rgba(207, 200, 200, 0.3);
    border-bottom: 1px solid rgba(207, 200, 200, 0.3);
    border-right: 1px solid rgba(207, 200, 200, 0.3);
    /* background-color: red; */
    
}
.Email_Text,
.Password_Text
{
    font-size: clamp(10px, 1vw, 43px);
    font-weight: bold;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: red; */
    padding-bottom: 2%;
    padding-top: 5%;
}
.show
{
    width: 10%;
}
.password_input
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.input:focus
{
    outline: 0;
}
.remmber_me
{
    width: 100%;
    /* background-color: red; */
}
.login_checkbox
{
    height: 3svh;
    width: 5%;
}
.Forgot_password
{
    font-size: clamp(10px, 1vw, 43px);
    font-weight: bold;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.remmberME
{
    /* background-color: red; */
    font-size: clamp(10px, 1vw, 43px);
    font-weight: bold;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 20%;
}
.check_box
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8%;
}
.SIGN_BT_IN,
.SIGN_BT_UP
{
    border: 0;
    /* background: rgba(84, 134, 168, 255); */

    background-color: rgba(88, 101, 242, 1) ;

    color: #fff;
    padding: 0.68em;
    font-size: clamp(10px, 1vw, 40px);
    border-radius: 14px;
    font-weight: bold;
    width: 100%;
    margin-top: 7%;
}
.SIGN_BT_IN:hover
{
    transform: translateY(-2px);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}
.SIGN_BT_UP:hover
{
    transform: translateY(-2px);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}
  
.or_use
{
    font-size: clamp(10px, 1vw, 43px);
    font-weight: bold;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    /* background-color: red; */
    padding-top: 5%;
}
.GOOGLE_BT
{
    background-color:white;
    width: 100%;
    height: clamp(10px, 3vw, 40px);
    font-weight: bold;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 14px;
    border: 1px solid black;
}

.username_login2_info,
.email_login2_info,
.login_user_name,
.login_user_Lastname,
.Password_input_info
{
    /* background-color: red; */
    position: relative;
}
.checkLoginEmail,
.checkLoginPassword,
.checkRegesterEmail,
.checkRegesterName,
.checkRegesterLastname,
.checkRegesterUserName,
.checkRegesterPassword,
.checkRegesterConfirmPassword
{
    color: rgba(255, 128, 255, 0.9);
    position: absolute;
    bottom: -30%;
    right: 5%;
    font-size: clamp(10px, 1vw, 43px);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.google
{
    height: 80%;
    /* background-color: red; */
    padding-left: 47%;
}

.padGoogleBt
{
    padding-bottom: 20%;
    padding-top: 5%;
}

.PadSingbt
{
    /* background-color: red; */
    padding-bottom: 5%;
    padding-top: 3%;
}

.blur
{
    filter: blur(20px);
    pointer-events: none;
}
.hide
{
    display: none;
}
.Password_input_info
{
    position: relative;
}

.invalid
{
    outline: 2px solid rgba(190, 80, 255, 0.6) ;
}
.valid
{
    outline: 2px solid rgb(0, 255, 55);
}
.responsIN
{
    width: 100%;
    /* background-color: black; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 7%;
}
.responsTextB
{
    color: red;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: clamp(10px, 1vw, 43px);
    margin-left: 3%;
}
.responsLogo
{
    width: 30%;
}

.Forgot_password:hover
{
    color: black;
}