/* ??????? */
.rubik-glitch-regular { 
    font-family: "Rubik Glitch", serif;
    font-weight: 400;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

span {
    position: absolute; 
    top: 0; 
    left: 0;
    display: flex;
    align-items: center; 
    gap: 25px; 
    padding: 20px; 
}

.logo {
    width: 150px; 
    height: 150px; 

}

p {
    font-size: 50px;
    color: #D3E8FC;
    margin: 0; 
}

#tournamentSetup {
    text-align: center;
    margin-bottom: 20px;
    color: white;
    font-family: Arial, sans-serif;
}

.player-inputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin: 20px auto;
    max-width: 500px;
    color: black;
}

.player-inputs input {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#startTournamentBtn {
    padding: 10px 20px;
    background: rgba(84, 134, 168, 255);
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
}

#exitButton
{
    padding: 10px 20px;
    background: rgba(84, 134, 168, 255);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.titleESC
{
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.exitBt
{
  background-color: rgba(72,72,90,255);
  border: none;
  border-radius: 70px;
  padding: 2px 2px;
  /* margin-left: 20px; */
}

.exitBt:hover
{
  background-color: white;
  transition: 1s;
}

.ESC2
{
	font-family: arial;
	font-size: 10px;
	text-align: end;
	color: white;
}

.text
{
  flex: 1;
  text-align: center;
}

.texxt
{
  font-family: arial;
  font-weight: bold;
  color: white;
}
