.Game
{
    width: 100%;
    display: flex;
    padding-top: 5%;
}
.left
{
    flex: 1;
}
.center
{
    flex: 3;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.right
{
    flex: 1;
}

.gameAI
{
    width: 100%;
    border: 2px white solid;
    border-radius: 30px;
    overflow: hidden;
}
.rakman
{
    width: 100%;
    height: 100%;
    /* background-color: red; */
}
.butttons
{
    width: 100%;
    height: 15%;
    /* background-color: white; */
}
.ress
{
    color: white;
    font-size: 40px;
    width: 100%;
    text-align: center;
}
.user1
{
    width: 100%;
    display: flex;
    justify-content: space-between
}

.players
{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 10%;
}
.card
{
    width: 20%;
    border-radius: 2em;
    padding: 10px;
}
.profileimage
{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 13%;
}
.pfp
{
    border-radius: 35em;
    fill: white;
    width: 50%;
}

.user1TEXT,
.user2TEXT
{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    width: 100%;
    text-align: center;
}
.Vstext
{
    padding-top: 6%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: white;
    font-size: clamp(20px, 3vw, 30px);;
}
